<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/normalize.css" />
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../../assets/css/styles.css" />

    <title>The Blossom</title>
</head>

<body>
    <header class="header">
        <div class="contenedor">
            <div class="header__grupo1">
                <div class="header__logo">
                    <img class="formulario__logo-imagen" src="../imagenes/logo.bmp" alt="The Blossom"
                        title="The Blossom" />
                </div>
                <div class="header__medio">
                    <h1 class="header__titulo">
                        "The Blossom moda y comodidad para tí"
                    </h1>
                    <form class="header__buscar" action="" method="GET">
                        <input class="header__buscar-input" type="text" placeholder="Buscar productos" name="buscar"
                            id="buscar" />
                        <i class="header-buscar-icono fa fa-search"></i>
                    </form>
                </div>
                <nav class="header__opciones">
                    <input type="checkbox" name="header__checkbox" id="header__checkbox">
                    <label for="header__checkbox" class="header__toggle">
                        <i class="close fa fa-times" aria-hidden="true"></i>
                        <i class="menu fa fa-bars" aria-hidden="true"></i>
                    </label>
                    <ul class="header__opciones-menu">
                        <a href="#">CREAR CUENTA</a>
                        <a href="#">INGRESA</a>
                        <i class="header__carrito-icono fa fa-car" aria-hidden="true"></i>
                    </ul>
                </nav>
            </div>
            <div class="header__grupo2">
                <nav class="menu">
                    <a href="#" class="menu__opcion">HOMBRE</a>
                    <a href="#" class="menu__opcion">MUJER</a>
                    <a href="#" class="menu__opcion">NIÑOS</a>
                    <a href="#" class="menu__opcion">DESCUENTOS</a>
                    <a href="#" class="menu__opcion menu__opcion-azul">MAS CATEGORIAS</a>
                    <a href="#" class="menu__opcion menu__opcion-azul">CONOCENOS</a>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="contenedor">
            <h2 class="main__titulo main__titulo-registrar">Crear Producto</h2>
            <form action="" class="formulario formulario__crear-producto" id="formulario">
                <!-- Grupo: nombre -->
                <div class="formulario__grupo" id="grupo__nombres">
                    <label for="usuario" class="formulario__label">Nombre</label>
                    <div class="formulario__grupo-input">
                        <input type="text" class="formulario__input" id="nombre" name="nombre"
                            placeholder="Playera Levis">
                        <i class="formulario__validacion-estado fa fa-times-circle" aria-hidden="true"></i>
                    </div>
                    <p class="formulario__input-error">Ingresa el nombre del producto</p>
                </div>
                <!-- Grupo: Stock -->
                <div class="formulario__grupo" id="grupo__stock">
                    <label for="stock" class="formulario__label">Stock</label>
                    <div class="formulario__grupo-input">
                        <input type="number" class="formulario__input" id="stock" name="stock"
                            placeholder="00000">
                        <i class="formulario__validacion-estado fa fa-times-circle" aria-hidden="true"></i>
                    </div>
                    <p class="formulario__input-error">Ingresa la cantidad de unidades</p>
                </div>
                <!-- Grupo: Talla -->
                <div class="formulario__grupo" id="grupo__talla">
                    <label for="tallas" class="formulario__label">Talla</label>
                    <div class="formulario__grupo-input">
                        <select class="formulario__input" name="tallas" id="tallas">
                            <option value="CHICA">CHICA</option>
                            <option value="MEDIANA">MEDIANA</option>
                            <option value="GRANDE">GRANDE</option>
                        </select>
                        <i class="formulario__validacion-estado fa fa-times-circle" aria-hidden="true"></i>
                    </div>
                    <p class="formulario__input-error">Ingresa tallas disponibles</p>
                </div>
                <!-- Grupo: Descripcion -->
                <div class="formulario__grupo" id="grupo__descripcion">
                    <label for="tallas" class="formulario__label">Descripcion</label>
                    <div class="formulario__grupo-input">
                        <input type="text" class="formulario__input" name="descripcion" id="descripcion">
                        <i class="formulario__validacion-estado fa fa-times-circle" aria-hidden="true"></i>
                    </div>
                    <p class="formulario__input-error">Ingresa una breve descripcion del producto</p>
                </div>
                <!-- Grupo: Categoria -->
                <div class="formulario__grupo" id="grupo__categoria">
                    <label for="tallas" class="formulario__label">Categoria</label>
                    <div class="formulario__grupo-input">
                        <select class="formulario__input" name="categoria" id="categoria">
                            <option value="primera">primera</option>
                            <option value="segunda">segunda</option>
                            <option value="tercera">tercera</option>
                        </select>
                        <i class="formulario__validacion-estado fa fa-times-circle" aria-hidden="true"></i>
                    </div>
                    <p class="formulario__input-error">Selecciona una categoria disponible</p>
                </div>
                <!-- Grupo: Marca -->
                <div class="formulario__grupo" id="grupo__marca">
                    <label for="tallas" class="formulario__label">Marca</label>
                    <div class="formulario__grupo-input">
                        <input type="text" class="formulario__input" name="marca" id="marca">
                        <i class="formulario__validacion-estado fa fa-times-circle" aria-hidden="true"></i>
                    </div>
                    <p class="formulario__input-error">Ingresa la marca del producto/p>
                </div>
                <!-- Grupo: Precio -->
                <div class="formulario__grupo" id="grupo__precio">
                    <label for="tallas" class="formulario__label">Precio</label>
                    <div class="formulario__grupo-input">
                        <input type="number" class="formulario__input" name="precio" id="precio">
                        <i class="formulario__validacion-estado fa fa-times-circle" aria-hidden="true"></i>
                    </div>
                    <p class="formulario__input-error">Ingresa el precio del producto</p>
                </div>
                <!-- Grupo: Imagen -->
                <div class="formulario__grupo" id="grupo__imagen">
                    <label for="tallas" class="formulario__label">Imagen</label>
                    <div class="formulario__grupo-input">
                        <input type="file" class="formulario__input" name="imagen" id="imagen">
                        <i class="formulario__validacion-estado fa fa-times-circle" aria-hidden="true"></i>
                    </div>
                    <p class="formulario__input-error">Seleccion la imagen del producto</p>
                </div>
                <div class="formulario__grupo formulario__grupo-mensaje" id="formulario__mensaje">
                    <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><b>Error: </b>Por favor rellena el
                        formulario correctamente.</p>
                </div>
                <div class="formulario__grupo formulario__grupo-btn-enviar">
                    <button type="submit" class="formulario__btn">GUARDAR</button>
                    <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">
                        Formulario enviado exitosamente!
                    </p>
                </div>
            </form>
        </div>
    </main>
    <footer class="footer">
        <div class="contenedor__footer contenedor">
            Todos los derechos reservados a The Blossom
        </div>
    </footer>
    <script src="../js/registro__usuario.js"></script>
</body>

</html>